In [1]:
import pandas as pd

In [2]:
# data = pd.read_csv('result.tsv', sep='\t', error_bad_lines=False, dtype=str)
# data = data[data['Uri'].apply(lambda x: 'startswith' in dir(x) and x.startswith('https://zakupki.kontur.ru/'))]
# data = data.drop('id.1', axis=1)
# data.to_csv('result.cropped.tsv', sep='\t', encoding='utf8', index=False)

In [4]:
data = pd.read_csv('result.cropped.tsv', sep='\t', dtype=str)

In [5]:
data.head()

,id,Title,Uri,PublicationDateTimeUTC,LawCode,LawDisplayName,ProcedureDisplayName,Amount,RubPrice,CurrencyCode,Nds,StatusDisplayName,StatusCode,SuppliersCount,IsWinner
0,0100600000117000001,"Закупки товаров, работ, услуг в соответствии с...",https://zakupki.kontur.ru/0100600000117000001,2017-04-13,1,44-ФЗ,Закупка у единственного поставщика (подрядчика...,1310000,NaN,RUB,NaN,Размещение завершено,2.0,NaN,NaN
1,0100600000117000002,"Закупки товаров, работ, услуг в соответствии с...",https://zakupki.kontur.ru/0100600000117000002,2017-04-13,1,44-ФЗ,Закупка у единственного поставщика (подрядчика...,249000,NaN,RUB,NaN,Размещение завершено,2.0,NaN,NaN
2,0100600000117000003,"Закупки товаров, работ, услуг в соответствии с...",https://zakupki.kontur.ru/0100600000117000003,2017-07-06,1,44-ФЗ,Закупка у единственного поставщика (подрядчика...,250000,NaN,RUB,NaN,Размещение завершено,2.0,NaN,NaN
3,0100600000117000004,Выполнение работ по ремонту автомобильной доро...,https://zakupki.kontur.ru/0100600000117000004,2017-07-06,1,44-ФЗ,Запрос котировок,400300,NaN,RUB,NaN,Размещение завершено,2.0,2.0,1.0
4,0100600000117000005,Приобретение и установка спортивного оборудования,https://zakupki.kontur.ru/0100600000117000005,2017-07-10,1,44-ФЗ,Запрос котировок,451000,NaN,RUB,NaN,Размещение завершено,2.0,1.0,0.0

In [6]:
data['StatusDisplayName'].unique()

array(['Размещение завершено', 'Размещение отменено', 'Этап подачи заявок'], dtype=object)

In [7]:
data['SuppliersCount'].fillna(0, inplace=True)
data['IsWinner'].fillna(0, inplace=True)
data.Title.fillna("", inplace=True)
data = data.drop(['Nds', 'LawCode', 'LawDisplayName'], axis=1)

In [8]:
data.head()

,id,Title,Uri,PublicationDateTimeUTC,ProcedureDisplayName,Amount,RubPrice,CurrencyCode,StatusDisplayName,StatusCode,SuppliersCount,IsWinner
0,0100600000117000001,"Закупки товаров, работ, услуг в соответствии с...",https://zakupki.kontur.ru/0100600000117000001,2017-04-13,Закупка у единственного поставщика (подрядчика...,1310000,NaN,RUB,Размещение завершено,2.0,0,0
1,0100600000117000002,"Закупки товаров, работ, услуг в соответствии с...",https://zakupki.kontur.ru/0100600000117000002,2017-04-13,Закупка у единственного поставщика (подрядчика...,249000,NaN,RUB,Размещение завершено,2.0,0,0
2,0100600000117000003,"Закупки товаров, работ, услуг в соответствии с...",https://zakupki.kontur.ru/0100600000117000003,2017-07-06,Закупка у единственного поставщика (подрядчика...,250000,NaN,RUB,Размещение завершено,2.0,0,0
3,0100600000117000004,Выполнение работ по ремонту автомобильной доро...,https://zakupki.kontur.ru/0100600000117000004,2017-07-06,Запрос котировок,400300,NaN,RUB,Размещение завершено,2.0,2.0,1.0
4,0100600000117000005,Приобретение и установка спортивного оборудования,https://zakupki.kontur.ru/0100600000117000005,2017-07-10,Запрос котировок,451000,NaN,RUB,Размещение завершено,2.0,1.0,0.0

In [9]:
data['CurrencyCode'].unique()

array(['RUB', '%', 'XDR', 'EUR', 'GBP', 'USD', 'IDR', 'CHF', 'MVR', 'RON',
       'STD', 'KHR', 'OMR', 'AUD', 'SVC', 'ZAR', 'GMD', 'PНP', 'BYR',
       'KZT', 'SEK', 'WST', 'PEN', 'MUR', 'SDG', 'KGS', 'SRD', 'TOP',
       'TZS', 'TJS', 'AMD', 'BWP', 'UGX', 'MNT', nan, 'CNY'], dtype=object)

In [10]:
data['StatusDisplayName'].unique()

array(['Размещение завершено', 'Размещение отменено', 'Этап подачи заявок'], dtype=object)

In [11]:
data['IsWinner'] = pd.to_numeric(data['IsWinner'])

In [12]:
f = {'IsWinner': ['sum', 'size', 'mean']}
groups = data.groupby('CurrencyCode').agg(f)
groups['IsWinner'].sort_values('mean', ascending=False)

                    sum     size      mean
CurrencyCode
PНP                 2.0        3  0.666667
OMR                 1.0        2  0.500000
STD                 1.0        3  0.333333
RUB           2207317.0  7543908  0.292596
KHR                 1.0        4  0.250000
EUR                36.0      243  0.148148
USD                17.0      122  0.139344
AUD                 1.0      210  0.004762
SDG                 0.0        1  0.000000
SEK                 0.0        2  0.000000
SRD                 0.0        1  0.000000
TOP                 0.0        1  0.000000
SVC                 0.0        1  0.000000
TJS                 0.0        1  0.000000
TZS                 0.0        1  0.000000
UGX                 0.0        1  0.000000
WST                 0.0        1  0.000000
XDR                 0.0        2  0.000000
RON                 0.0        1  0.000000
%                   0.0       11  0.000000
PEN                 0.0        1  0.000000
AMD                 0.0        1  0.000000
MVR                 0.0        7  0.000000
MUR                 0.0        1  0.000000
MNT                 0.0        1  0.000000
KZT                 0.0        6  0.000000
KGS                 0.0        1  0.000000
IDR                 0.0        7  0.000000
GMD                 0.0        1  0.000000
GBP                 0.0       15  0.000000
CNY                 0.0        1  0.000000
CHF                 0.0        2  0.000000
BYR                 0.0        1  0.000000
BWP                 0.0        1  0.000000
ZAR                 0.0        1  0.000000

In [13]:
data['Amount'] = pd.to_numeric(data['Amount'].str.replace(',','.'), errors='coerce')

In [ ]:
from currency_converter import CurrencyConverter
c = CurrencyConverter()
c.convert(100, 'USD', 'RUB')

for code in data['CurrencyCode'].unique():
    if code == '%' or 'XDR':
        continue
    data.loc[data['CurrencyCode'] == code, 'Amount'] = data.loc[data['CurrencyCode'] == code, 'Amount'].apply(lambda x: c.convert(x, code, 'RUB'))
    data.loc[data['CurrencyCode'] == code, 'CurrencyCode'] = 'RUB'

In [24]:
from sklearn.feature_extraction.text import HashingVectorizer

vectorizer = HashingVectorizer(input='content', encoding='utf-8', decode_error='strict', strip_accents=None,
                 lowercase=True, preprocessor=None, tokenizer=None, stop_words=None, token_pattern=r'\b\w+\b',
                 ngram_range=(3, 3), analyzer='char_wb', n_features=1000, binary=True, norm=None, non_negative=False)

In [ ]:
analyze = vectorizer.fit_transform(data.Title)
feats = pd.SparseDataFrame(analyze).fillna(0)
pd.DataFrame(feats).add_prefix('Ngrams_Title_')
# data = pd.DataFrame(pd.concat([data.reset_index(), pd.DataFrame(feats).add_prefix('Ngrams_Title_')], axis=1)).fillna(0)