In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import cross_val_score, GridSearchCV, train_test_split

from data_reader import read_data
from data_preprocessing import preprocess_data
from feature_extractor import extract_features
from random_forest_classification import train, predict

%matplotlib inline

In [13]:
data = read_data()
data = preprocess_data(data)
features = extract_features(data)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(features.drop('ResultClass', axis=1).values,
                            features.ResultClass.values,
                            test_size=0.3,
                            random_state=123456)

In [15]:
rf = train(X_train, y_train)
predicted = predict(rf, X_test)
predicted

array([1, 2, 2, ..., 1, 2, 2], dtype=int64)

In [16]:
pd.crosstab(y_test, predicted, rownames=['Actual Results'], colnames=['Predicted Results'])

Predicted Results   0     1     2   3
Actual Results
0                  16    98    69   4
1                  51  8288  1438  39
2                  39  1808  2950  30
3                   2    82    64  22